<h1>Blackjack Game</h1>

<p>Welcome <%= session[:player_name] %>.</p>


Dealer's Cards:
<ul> 
	<% session[:dealer_cards].each do |card| %>
		<li><%= card.to_s %></li>
	<% end %>
</ul>

<br/>

Player's Cards:
<ul> 
	<% session[:player_cards].each do |card| %>
		<li><%= card.to_s %></li>
	<% end %>
</ul>

<p>
	What would you like to do?
	<%= session[:player_name] %> has a total of <%= calculate_total(session[:player_cards]) %>.
</p>
